[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
furo = "*"
myst-parser = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-inline-tabs = "*"
sphinx-tabs = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "sphinx-build -M dirhtml docs build"
clean = "sphinx-build -M clean docs build"
serve = "caddy file-server --root ./build/dirhtml --listen :8000"
